* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* ============================= */
body {
    background: linear-gradient(to bottom right, #ffffcc, #e6d388);
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    font-size: 48px;
}
.title {
    font-size: 54px;
}
.weather-component__box--search{
display: flex;
align-items: center;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: rgb(66, 65, 65);
}
.nav {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #44bacf;
    color: #fff;
}
.nav-row {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}

.link:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home-page__link
{
    padding: 5px 10px;
    background-color: #fff;
}
.home-page__link:hover{
    background-color: #ccc;
}

.weather-component__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.weather-component__box--search{
    margin-bottom: 30px;
}

.weather-component__box input {
    max-width: 200px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 36px;
    text-align: center;
}
.weather-component__box input::placeholder {
    font-size: 24px;
}

.weather-page__title,
.activity-page__title,
.box .link {
    color: #76041b;
}
.activity-page__box {
    text-align: center;
}
.activity-page__box h2 {
    margin-bottom: 30px;
}
